body {
  background-image: url(images/uranus.jpg);
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}

h1, p {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}


h1:hover {
  color: blue;
}

#icon {
  color: black;
  text-decoration: none;
  font-family: "Gajraj One", cursive;
  font-size: 45px;
  flex: auto;
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  background-color: #f9f9f9;
  border-bottom: 2px solid black;
  align-items: center;
}

#nav {
  list-style-type: none;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  text-align: center;
  display: flex;
}

#nav li {
  display: inline-block;
  padding: 0px;
  flex: auto;
}

@media (max-width: 1200px) {
  #header {
    flex-direction: column;
    padding: 0 15px;
  }
}
/*Nav bar styled to look vaguely 90's - inspired by the blocky look of webpages then*/
#nav a {
  text-decoration: none;
  padding: 5px 21px;
  background: radial-gradient(#a4bccc, #1d2478);
  color: #eee;
  border-top: 2px solid #b4bec9;
  border-right: 2px solid #1d2478;
  border-bottom: 2px solid #1d2478;
  border-left: 2px solid #b4bec9;
}

#nav a:hover {
  background: #878585;
  color: #000;
  border-top: 2px solid #aca7a7;
  border-right: 2px solid #d4d2d2;
  border-bottom: 2px solid #d4d2d2;
  border-left: 2px solid #aca7a7;
}

#nav,
#icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*I was really inspired by Geocities here*/
#planet3 {
margin-left: 500px;
height: 200px;
width: 200px;
}

#planet5 {
margin-left: 950px;
margin-top: 0px;
height: 200px;
width: 200px;

}

#planet6 {
margin-left: 350px;
height: 120px;
width: 120px;
}

#planet7 {
margin-left: 800px;
margin-bottom: auto;
height: 150px;
width: 150px;
}

figure {
text-align: center;
font-family: 'Source Code Pro', monospace;
}

#bookbanner {
text-align: center;
}

#interestpage, #aboutpage, #catpage {

  margin-top: 150px;
  margin-left: 150px;
  margin-right: 150px;
  border-style: ridge;
  border-width: 5px 5px;
  font-size: large;
  background-color: #f9f9f9;
}

table, th, td, tr {
padding: 15px;
text-align: center;
margin-left: 225px;
}

.image-container {
  display: flex;
  justify-content: center;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

#page-container {
position: relative;
min-height: 100vh;
}

#content-wrap {
padding-bottom: 2.5rem;
}
